In [1]:
import os
from dotenv import dotenv_values
import ccxt

In [2]:
config = dotenv_values("../../.env") 
config

{'CB_PRO_API_KEY': '59103061a751956ccdc3acd63c4c8381',
 'CB_PRO_SECRET': 'lC1SCOFfOTfwotem3MSWk7QmhpxaV68qGZK8YIZfsoDlulxktMxNAGSlEMVzpA22vl1WDdFzEEe9f3P/8CJAtg==',
 'CB_PRO_PASSWORD': '006uf3i5hbvx',
 'GN_API_KEY': '1uLeEOfOFGJUcQH6ZvHvo6WoBdT',
 'GS_CLIENT_ID': '34556535053-dq78n03d9p0egesc91rlnnfjldtu5csm.apps.googleusercontent.com',
 'GS_CLIENT_SECRET': '_-tQ6JQNyN9gpo4OHkB8xWrO',
 'NO_TOKEN': 'secret_BM12F2FckmlrjASRHrUIIRzmFDjA2P2um5jsm7R62I'}

In [3]:
import json
import requests
import pandas as pd


# insert your API key here
API_KEY = config['GN_API_KEY']

# make API request
res = requests.get('https://api.glassnode.com/v1/metrics/indicators/sopr',
    params={'a': 'BTC', 'api_key': API_KEY})

# convert to pandas dataframe
df = pd.read_json(res.text, convert_dates=['t'])

In [4]:
df

              t         v
0    2010-07-17  1.000000
1    2010-07-18  1.174760
2    2010-07-19  1.318536
3    2010-07-20  1.090517
4    2010-07-21  1.065532
...         ...       ...
3992 2021-06-21  0.984265
3993 2021-06-22  0.990235
3994 2021-06-23  0.999825
3995 2021-06-24  0.998990
3996 2021-06-25  0.958123

[3997 rows x 2 columns]